.icon
{
    overflow: hidden;

    width: 1em;
    height: 1em;

    vertical-align: -.15em;

    fill: currentColor;
}

.touchbar div
{
    font-size: .475rem;
    line-height: 1.6rem;

    float: left;

    width: 33.3%;
    height: 1.6rem;

    text-align: center;

    opacity: .3;
}

.touchbar div.active
{
    transition: all .1s;
    transform: scale(1.1);
    /* transform-origin: 50% 0; */
    /* animation: scale .1s; */

    opacity: 1;
}

.touchbar .icon
{
    height: 1em;
}
