.personal-center
{
    width: 100%;
    height: 4.75rem;

    border-top: 1px solid transparent;
    border-radius: 0 0 16px 16px;
    background: url('http://img.lizhi334.cn/personal_center_bg.png') no-repeat;
    background-size: cover;
}

.personal-information
{
    margin: .75rem .75rem 0 .75rem;
}

.personal-information .personal-avatar
{
    overflow: hidden;

    width: 1.8rem;
    height: 1.8rem;

    border: 2px solid white;
    border-radius: 50%;
}

.personal-information .personal-avatar img
{
    width: 100%;
    height: 100%;
}

.personal-id
{
    font-size: 18px;

    color: white;
}

.personal-nickname
{
    font-size: 26px;
    font-weight: 500;

    margin: .375rem 0 .2rem 0;

    color: white;
}

.personal_library,
.personal_other
{
    padding: 0 .5rem;
}

.personal_other > p,
.personal_library > p
{
    font-size: 18px;

    margin: 14px 0 8px 0;
}

.personal_other ul li
{
    font-size: 18px;
    line-height: 1.4rem;

    height: 1.4rem;

    color: #333434;
}

.personal_other .icon
{
    width: .75rem;
    height: .75rem;
    margin-right: 6px;

    vertical-align: middle;
}

.logout
{
    font-size: 18px;
    line-height: 1rem;

    display: block;

    width: 3rem;
    height: 1rem;
    margin: .5rem auto 2.5rem auto;

    text-align: center;

    color: white;
    border-radius: 4px;
    background-color: #3a3c41;
}

#favorite-list .comments-list
{
    padding: 1.8rem 5%;
}

.personal_other ul,
.personal_library ul
{
    background-color: white;
}
