@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
    0% {
        transform: scale(1);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

ul,
li {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}

.music-header {
    margin: 1rem 0 .3rem 0;
    height: 1.25rem;
}

.search-box {
    position: relative;
    margin: 0 0 0 .75rem;
}

.search-box input {
    position: absolute;
    outline-style: none;
    height: 1.1rem;
    font-size: .425rem;
    padding-left: 1rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #F1F1F1;
}

.search-box input:focus {
    color: #3c3c3c;
}

.search-icon {
    height: 1rem;
    width: 1rem;
    position: absolute;
    z-index: 1;
}

.player-min {
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    overflow: hidden;
    right: 1rem;
    border-radius: 50%;
    animation: rotate 18s linear infinite;
}

.player-min img {
    height: 100%;
}

.albums-list {
    margin: 0 0 0 .5rem;
    overflow: hidden;
}

.albums-list h4,
.songs-list h4 {
    margin: .3rem 0;
    font-size: .625rem;
}

.albums-list .swiper-slide {
    height: 5.2rem;
}

.albums-list .swiper-slide .album-cover {
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-radius: 8px;
    overflow: hidden;
    top: 0;
}

.albums-list .swiper-slide div img {
    height: 100%;
}

.albums-list .swiper-slide .album-info {
    position: absolute;
    width: 100%;
    height: 1.2rem;
    bottom: 0;
    /* box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3) */
    ;
}


/* .albums-list .swiper-slide .album-info::after {
    background: url('../img/5.png') no-repeat;
    background-size: 4.5rem;
    background-position: 0% 100%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(16px);
    z-index: 1;
} */

.albums-list .swiper-slide .album-info div {
    height: 1.2rem;
    position: absolute;
    z-index: 2;
    padding-left: 6px;
}

.albums-list .swiper-slide .album-info .album-name {
    width: 4rem;
    color: #3c3c3c;
    text-align: left;
    margin: 8px 0 4px 0;
    font-size: .4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.albums-list .swiper-slide .album-info .album-singer {
    color: #a0a0a0;
    margin: 2px 0;
    text-align: left;
    font-size: .325rem;
}

.albums-list .swiper-slide.album-slide {
    position: relative;
}

.songs-list {
    padding: 0 0 2rem .5rem;
    /* background-image: linear-gradient(#FFFFFF, #F6F6F6); */
}

.song-cover {
    display: inline-block;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 6px;
    overflow: hidden;
}

.song-cover img {
    height: 100%;
}

.song-info {
    display: inline-block;
    vertical-align: super;
    margin-left: 6px;
}

.song-info .song-name {
    width: 7rem;
    color: #26293A;
    margin: 2px 0;
    font-size: .45rem;
    padding-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-info .song-singer {
    color: #A9ACBB;
    margin: 2px 0 6px 0;
    font-size: .35rem;
}

.songs-list ul li,
.song-iterm {
    height: 1.8rem;
    padding: .2rem 0;
}

.song-iterm.playing {
    background-color: #f5f5f5;
}

.touchbar {
    position: fixed;
    bottom: 0;
    height: 1.8rem;
    width: 100%;
    background-color: white;
    border-top: 1px solid #F1F1F1;
    border-radius: .75rem .75rem 0 0;
    opacity: .98;
    z-index: 1;
}

.page1-container.hide {
    display: none;
}

.loader,
.single-album-loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 98%;
    height: 1rem;
    align-items: center;
    justify-content: center;
}

.loader-inner {
    transform: scale(.5);
}

.ball-spin-fade-loader>div {
    background-color: orange !important;
    left: -.5rem;
}

.search_list {
    padding-left: .5rem;
}

.search_cancel {
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    overflow: hidden;
    right: 1rem;
    line-height: 1.25rem;
    font-size: .45rem;
    color: #272939;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}